<!-- NAVBAR-->
<nav class="navbar is-fixed-top is-transparent mt-4 ml-4" role="navigation" aria-label="main navigation" style="height: 5vh;"><a class="navbar-brand" href="/blog">⬅ Retour aux
    articles</a></nav>
<!-- FIN NAVBAR-->
<div class="container">
  <div class="columns is-centered mb-6">
    <div class="column">
      <h1 class="title is-1 has-text-centered mt-6">{{unarticle.title}}</h1>
      <h2 class="subtitle is-7 has-text-centered mt-3 mb-3">#{{unarticle.tags}}</h2>
      <figure class="image mt-3">
        <img src="../{{unarticle.illustration}}" alt="{{unarticle.title}}" style="border-radius: 10px; height: 50vh; object-fit: contain" />
      </figure>
      <div class="content mt-6">
        {{{unarticle.content}}}
      </div>
    </div>
  </div>
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script>(() => { if (window.localStorage) { if (!localStorage.getItem('reload')) { localStorage['reload'] = true; window.location.reload(); } else {
  localStorage.removeItem('reload'); } } })(); $(document).ready(function () { $('h1').addClass('title has-text-centered is-1'); $('h2').addClass('title is-2');
  $('h3').addClass('title has-text-centered is-3'); });</script>